.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
 
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.container {
  display: flex; /* or inline-flex */
}

.container-header {
  background-color: rgb(0,0,2);
  justify-content: flex-start;
 
  padding-top: 1px;
  color: white;
}